/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body{
   	font-size: 14px;
   	font-family: 'Abel', sans-serif;
   	background-color:#ADACB5;
   	
   }
   .container {
      /*max-width:1024px;*/
      max-width:100%;
      margin:0em auto;
      background-color: #D8D5DB;
      position:relative;
      top:0px;
      left:0px;
   }


   main {
      padding:0em;
      /*background-color: #EAE8FF;*/
       background-color: #ffffff;
      /*float:left;*/
      width:100%;
      position:relative;
      top:75px;
      left:0px;
   }

   h2 {
   	font-size: 2em;
      color: #2D3142;
   }

   li strong {color:#2D3142;}

/*** Navigation Styles ***/

   nav {
      background-color:#2D3142;
      padding:1em;
      position: fixed;
      width:996px;
      z-index: 4;
      display: none;
   }

   nav img:first-child{
      width:40px;
      height:40px;
      border-radius:20px;
      overflow: hidden;
      float:left;
      margin-right:1em;

   }

   nav>ul>li {
      display: inline-block;
      list-style-type: none;
      margin-right:1em;

   }

   nav>ul>li>a:link{
      color:#ffffff;
      padding:.5em;
      border:1px solid orange;
      border-radius: 4px;
   }

   nav>ul>li>a:visited{
      color:#ffffff;
      border:1px solid orange;
      border-radius: 4px;
   }

   nav>ul>li>a:active,
   nav>ul>li>a:focus,
   nav>ul>li>a:hover{
      color:#2D3142;
      background-color:orange;
   }

   /*nav>ul>li>a .button.has-click-effect { 
   position: relative;
   border-bottom: 2px solid black;
   }

   nav>ul>li>a button.has-click-effect:active {
   bottom: -2px;
   border-bottom: 0;
   }*/

   section{
   width: 66%;
   /*float:left;*/
   padding:0em 1em;
   position: relative;
   top:0px;
   left:0px;
   }

   section article p img:first-child {
   float:right;
   width:25%;
   height: 25%;
   padding:.25em;
   border;1px solid #2D3142;
   margin:0em 1em 1em 0em;

}

aside {
   background-color: #B0D7FF;
   padding:1em;
   margin:0em 1em;
   /*float:right;*/
   position: absolute;
   top:1em;
   right:0em;
   width:25%;

}

aside h3 {
   color:#2D3142;
   font-weight:400;
}

aside ul{
      list-style-type: none;
      margin:0px;
      padding: 0px;

   }
aside ul li {
   display: inline;
   float: left;
   margin: 0;
   text-align: center;
}

aside li img{
      width:80px;
      height:80px;
      border-radius:20px;
      overflow: hidden;
      margin-right:1em;

   }

aside p a {
   display: block;
   float: left;
   margin: 0 0 1em;
   text-align: center;
   width: 50%
   text-transform:uppercase;
}

aside p a img{
      width:100px;
      height:100px;
      border-radius:20px;
      overflow: hidden;
      margin-right:1em;
      text-align: center;
   }

aside p a img.surly{
      width:100px;
      height:100px;
      border-radius:20px;
      overflow: hidden;
      margin-right:1em;
   }

article {
   padding:1em;
   margin-bottom:1em;
   position:relative;
   top: 0px;
   left: 0px;
}

article.summer {
   background-color:yellow;
}

article.kitchen{
   background-color:pink;
}

article figure img {
   float:left;
   
}

article figure img {
   float:left;
   margin-left:1em;
}

.clearfix:before,
.clearfix:after {
 content: "";
 display: table;
}

footer {
   background-color: #2D3142;
   padding: 1em;
   color: #ffffff;
   position: fixed;
   bottom:0px;
   width:996px;
   z-index: 4;
   display: none;
}

.styledbox {
   background-color:blue;
   border:1px solid red;
   margin-bottom:1em;
}

.oneThirdCol {
  width: 32%; 
  margin-left:1%;
  float: left;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1vw;
  text-align: center;
}
.oneThirdCol:nth-child(3n+1) {
  margin-left: 0;
}

.oneFourthCol {
  width: 23.5%; 
  margin-left: 1.5%;
  float: left;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1vw;
  text-align: center;
}
.oneFourthCol:nth-child(4n+1) {
  margin-left: 0;
}



.box {
   background-color:green;
   color:#ffffff;
   padding:10px;
   box-sizing:border-box;
   text-align: center;
   margin:1em;
   font-size:1.5em;
}

@media (max-width: 768px) {

   .box {
   background-color:red;
   color:#ffffff;
   padding:10px;
   box-sizing:border-box;
   text-align: center;
   font-size:1em;
}
}

@media (min-width: 992px) {

   .box {
   background-color:blue;
   color:red;
   padding:10px;
   box-sizing:border-box;
   text-align: center;
   font-size:2.5em;
}
}


